@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

#gallery {
  position: absolute; 
  left: 40%;
  top: 115px;
  color: white;
  font-size: 30px;
  font-family: 'Shantell Sans', cursive;
  width: 200px;
  height: 200px;
}

#gallery2 {
  position: absolute; 
  left: 44%;
  top: 115px;
  color: white;
  font-size: 50px;
  font-family: "Gill Sans", sans-serif;
  width: 200px;
  height: 200px;
}

body {
    background-image: url("bg.png");
    background-size: 100vw auto;
    background-repeat-y: no-repeat;
    background-color: fff2a7;
}
#bowl {
    margin-top: 20vh;
    margin-left: 20%;
    width: 50%;
}
.flexwrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    width: 80vw;
    margin-left: 20vw;
    margin-bottom: 10vh;
  }
  

  
  .flexwrapper a {
    display: contents;
    width: 25%;
    justify-content: center;
  }
  
  #vanilla {
    width: 15%;
  }
  
  #egg {
    width: 12%
  }
  
  #bakingsoda {
    width: 20%;
    background-image: url(soda.png);
    background-size: contain;
  }

  


  
  #sugar {
    width: 30%
  }

  #deflated {
    margin-top: 20vh;
    margin-left: 1%;
    width: 70%
  }
  #perfect {
    margin-top: 20vh;
    margin-left: 13%;
    width: 70%;
  }

  #tryagain {
    font-family: 'Shantell Sans', cursive;
    font-size: 50px;
    display: block;
    margin-top: 20%;
    width: 100%;
    text-align: center;
  }


#blinkingeyes {
      background-image: url("blinkingeyes.jpg");
      width: 100px;
      height: 100px;
      background-size: 400px 100px;
      animation: go-man-go 500ms steps(4) infinite;
      animation-play-state: paused; 
      position: fixed;
      top: 0px;
      right: 100px;
      
    }
    
    #blinkingeyes:hover {
      cursor: pointer;
      animation: go-man-go 500ms steps(4) infinite;
      animation-play-state: play; 
    }
    
    @keyframes go-man-go {
        from {
            background-position: 0% 0%;
        }
        to {
            background-position: -400% 0%;
        }
    }

a:link {
    color: white;
}

a:hover {
    color: black;
}

a:visited {

}

#redo {
  margin-top: 20vh;
  margin-left: 13%;
  width: 70%
}

#final {
  margin-top: 20vh;
  margin-left: 13%;
  width: 70%
}

